<div>
    <double-sided-toggle left-option="Weight" right-option="Quantity"
        label="Calculate By:"
        on-change="$ctrl.calculationToggleChange(value)"></double-sided-toggle>

    <br/>
    <br/>
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Select Month:
        </div>
        <select ng-options="month for month in $ctrl.months"
                    ng-model="$ctrl.selectedMonth" ng-change="$ctrl.monthChange($ctrl.selectedMonth)"></select>
      </label>
    </div>

    <br/>
    <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Select Location:
          </div>
          <select ng-options="location for location in $ctrl.locations"
                      ng-model="$ctrl.selectedLocation" ng-change="$ctrl.locationChange($ctrl.selectedLocation)"></select>
        </label>
    </div>

    <br/>

    <div class = " ">
        <stacked-bar-chart data="$ctrl.dataMap" xtitle="$ctrl.xTitle" ytitle="$ctrl.yTitle"></stacked-bar-chart>
    </div>
    <loading-overlay loading="$ctrl.loading"></loading-overlay>
</div>
