<div>
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Select Month:
        </div>
        <select ng-options="month as month for month in $ctrl.months"
                    ng-model="monthSelection" ng-change="$ctrl.monthChange(monthSelection)"></select>
      </label>
    </div>

    <br/>
    <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Select Location:
          </div>
          <select ng-options="location as location for location in $ctrl.locations"
                      ng-model="locationSelection" ng-change="$ctrl.locationChange(locationSelection)"></select>
        </label>
    </div>

    <br/>

    <double-sided-toggle left-option="Weight" right-option="Quantity"
        label="Calculate By:"
        on-change="$ctrl.calculationToggleChange(value)"></double-sided-toggle>

    <div class = " ">
        <stacked-bar-chart data="$ctrl.dataMap" xtitle="$ctrl.xTitle" ytitle="$ctrl.yTitle"></stacked-bar-chart>
    </div>
</div>
