.float-right{
    float: right;
}

.double-sided-toggle{
    width: 50vh;
    display: inline-flex;
    font-size: large;
}

.double-sided-toggle span{
    margin: 1px;
}

.no-border{
    border: none;
}

.toggle-label{
    font-size: medium;
    font-weight: bold;
}

.toggle-dims {
    height: 40px;
    width: 70px;
    padding: 0px;
}

.toggle-dims .track{
    border-color: #11c1f3;
    background-color: #11c1f3;
    height: 20px;
}

.toggle-dims .handle{
    height: 24px;
    top: 2px;
}

.toggle-small.item-toggle .toggle{
    top: 4px;
}

.item-toggle .toggle {
    right: 0px;
    left: 10px;
    top:10px
}
.home-screen-container{
  /*margin-top: 60px;*/
}
.profilePicture{
    height: 60px;
    width: auto;
}
.profilePictureDiv{
  /*position: absolute;*/
  display: inline-block;
  /*float: left;*/

  /*right: 12px;*/
  /*top: 12px;*/
  margin-left: 0px;
}
.float-info{
  display: table-cell
  /*float: left;*/
}
.username{
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
}
